body {
  font-family: system-ui;
  font-size: 48px;
  color: white;
  background-color: black;
}

section + section {
  margin-top: 10px;
}

a {
  color: hotpink;
}

#ali-img {
  display: block;
  width: 200px;
  height: 250px;
  margin-left: 50px;
  margin-top: 50px;
}
