html, body {
  overflow-x: hidden;
  background-color: #2D3047;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #E6EED6;
  font-family: 'Work Sans';
}

#root {
  height: 100%;
}
.cutout {
  position: absolute;
  top: 28%;
  left: 50%;
  margin-left: 40px;
  margin-top: -15.5px;
  width: 150px;
}
.container {
  height: 100%;
}
h1, h2, h3, h4, h5 {
  /*font-family: 'Questrial', sans-serif;*/
  font-family: 'Work Sans';
  font-size: 30px;
}
